.movie-detail-container {
    padding: 20px;
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  
  .movie-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
  .movie-detail img {
    width: 300px;
    border-radius: 10px;
  }
  
  .movie-detail-info {
    margin-top: 20px;
    text-align: center;
  }
  
  .movie-detail-info h1 {
    margin-bottom: 10px;
  }
  
  .movie-detail-info p {
    margin-bottom: 5px;
  }
  
  .back-link {
    color: #e50914;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }