.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-container form {
    display: flex;
  }
  
  .search-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-container button {
    background-color: #e50914;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s ease;
  }
  
  .search-container button:hover {
    background-color: #f40612;
  }